<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" question="IE=edge">
    <meta name="viewport" question="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" question="width=device-width, initial-scale=1">
    <meta name="viewport" question="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>I-Community</title>
    <meta name="keywords" question="">
    <meta name="description" question="">
    <meta name="author" question="">



    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" th:href="@{/images/fevicon.png}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

<!--    文章样式-->
    <link rel="stylesheet"  th:href="@{/news/css/style.css}" id="theme-styles">


</head>
<body>
<!--header section start -->
<div class="header_section header_bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo">
            <a href="index.html" th:href="@{/index.html}">
                <img src="images/logo.png" th:src="@{/images/logo.png}">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index.html}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/services.html}">服务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/content}">社区论坛</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/team.html}">社区居委会成员</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact.html}">意见反馈</a>
                </li>
                <li class="nav-item" th:if="${session.isT} ne 'y'">
                    <a class="nav-link" th:href="@{/login.html}" >登录/注册</a>
                </li>
                <li class="nav-item" th:if="${session.isT} eq 'y'">

                    <!--                <span th:text="${session.loginuser}"></span>-->
                    <!--                <span>欢迎你！</span>-->
                    <!--                <a class="nav-link" href="#" th:href="@{/xx}" >退出登录</a>-->
                    <a class="nav-link" href="#" th:href="@{/person.html}" >个人中心</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="what_we_do_section layout_padding">
    <div class="container">
        <div class="row">
            <!--            main-->
            <div class="col-md-8 blog-main">
                <article class="blog-post">
                    <header>

                        <div class="lead-image">
                            <img src="img/single-post.jpg" alt="" class="img-responsive">

                        </div>
                    </header>
                    <div class="body">
<!--                        题目-->
                        <h1 th:text="${#httpServletRequest.getAttribute('onenews').title}"></h1>
                        <div class="meta">
<!--                            <i class="fa fa-user"></i> John Doe -->
                            <i class="fa fa-calendar"></i>
                            <span th:text="${#httpServletRequest.getAttribute('onenews').time}"></span>
<!--                            <i class="fa fa-comments"></i>-->
<!--                            <span class="data"><a href="#comments">3 Comments</a></span>-->
                        </div>
                        <p class="banner_text" style="text-indent:2em" th:text="${#httpServletRequest.getAttribute('onenews').content}"></p>
                    </div>
                </article>

            </div>
            <!--            main end-->
            <aside class="col-md-4 blog-aside">

                <div class="aside-widget">
                    <header>
                        <h3>其他新闻</h3>
                    </header>
                    <div class="body">
                        <ul class="clean-list" >

                            <li  th:each="news:${#httpServletRequest.getAttribute('newsList')}">
<!--                                <span>◍</span>-->
                                <a th:href="@{/news?id=}+${news.id}">
                                    <span th:text="${news.title}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </aside>
        </div>
    </div>


</div>

<!--<div class="widewrapper main">-->

<!--</div>-->


<!--header section end -->
<!-- contact section start -->

<!-- contact section end -->
<!--footer section start -->
<!--    <div class="footer_section layout_padding">-->
<!--      <div class="container">-->
<!--        <div class="copyright_section">-->
<!--          xxxxxxxxxx-->
<!--        </div>-->
<!--        &lt;!&ndash; copyright section end &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--footer section end -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<!--文章-->
<script th:src="@{/news/js/modernizr.js}"></script>

</body>
</html>