

/* ================
The round social icons including the animations 
==================*/
.social-icons {
  text-align: center;
}

.social-icon {
  position: relative;
  margin-bottom: 90px;
  display: inline-block;
  width: 135px;
  height: 135px;
  margin-left: 70px;
  border-radius: 200px;
}


.social-icons i {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 3px 3px;
}
.social-icons i:hover {
  color: #444;
  border-color: #444;
}

@media (min-width: 980px) and (max-width: 1199px) {
  .span6 .social-icon {
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .social-icon {
    margin-left: 40px;
    width: 122px;
    height: 122px;
  }
  .span6 .social-icon {
    margin-left: -8px;
  }
  .social-icon .inner-circle {
    position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    height: 100px;
    width: 100px;
  }
  .social-icon:hover .inner-circle {
    width: 122px;
    height: 122px;
  }
  .social-icon i {
    font-size: 50px;
    top: 36px;
    left: 37px;
  }
  .social-icon i.fa-facebook {
    left: 50px;
  }
}

@media (max-width: 767px) {
  .social-icon {
    margin-left: 10px;
    width: 81px;
    height: 81px;
    margin-bottom: 40px;
  }
  .social-icon .inner-circle {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    height: 65px;
    width: 65px;
  }
  .social-icon:hover .inner-circle {
    height: 65px;
    width: 65px;
    top: 8px;
    left: 8px;
  }
  .social-icon i {
    font-size: 35px;
    top: 25px;
    left: 25px;
  }
  .social-icon i.fa-facebook {
    left: 32px;
  }
  .social-icon i.fa-github-alt {
    top: 22px;
  }
}

.social-icon.color-one {
  background-color: #7dbd95;
}

.social-icon.color-one .inner-circle {
  background-color: #444;
}

.social-icon.color-two {
  background-color: #bb9ce2;
}

.social-icon.color-two .inner-circle {
  background-color: #74549f;
}

.social-icon.color-three {
  background-color: #64c4ee;
}
.social-icon.color-three .inner-circle {
  background-color: #3f8ebd;
}

/* ===========
Comments on blog detail page 
============== */
aside.comments,
aside.create-comment {
  margin-bottom: 100px;
}

aside.comments hr,
aside.create-comment hr {
  margin-left: auto;
  margin-right: auto;
  border-top-color: #ddd;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 979px) {
  aside.comments hr,
  aside.create-comment hr {
    width: 415px;
  }
}

@media (max-width: 767px) {
  aside.comments hr,
  aside.create-comment hr {
    width: 100%;
  }
}

aside.comments h2,
aside.create-comment h2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
}

aside.comments h2 i,
aside.create-comment h2 i {
  font-size: 36px;
}

aside.comments .comment {
  margin: 30px 0 0 0;
}

aside.comments .comment.reply {
  margin-left: 100px;
}

aside.comments .comment header img {
  float: left;
  border-radius: 100px;
  width: 80px;
}

aside.comments .comment header .meta {
  margin-left: 100px;
  font-size: 14px;
}

aside.comments .comment header .meta h3 {
  margin: 10px 0 0 0;
  line-height: 27px;
}

aside.comments .comment header .meta h3 a {
  color: #5b6268;
}

aside.comments .comment header .meta a {
  color: #444;
}

aside.comments .comment .body {
  margin-top: 10px;
  margin-left: 100px;
  border: 1px solid #ddd;
  padding: 20px;
}

/* ===========
Add commment form 
============== */
.create-comment input,
.contact-form input,
.create-comment textarea,
.contact-form textarea {
  margin-top: 15px;
  border-radius: 0px !important;
}

.create-comment .btn,
.contact-form .btn {
  margin: 15px 0;
  width: 100%;
}

.content,
.about {
  padding-top: 36px;
  padding-bottom: 80px;
}

/* ============
About me page 
=============== */
.about hr {
  margin-top: 75px;
}

.about-portrait {
  float: right;
  margin-top: 20px;
  margin-left: 70px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;
}

@media (max-width: 767px) {
  .about-portrait {
    float: none;
    margin: 40px auto;
  }
}

.about-button {
  margin-top: 30px;
}

/* ===============
The various styles that are used in the about me text chunk 
=================
*/
.about-bold {
  font-weight: bold;
}

.about-italic {
  font-style: italic;
}

.about-large,
.about-medium,
.about-small {
  font-family: 'PT Serif', serif;
  line-height: 60px;
}

@media (max-width: 767px) {
  .about-large,
  .about-medium,
  .about-small {
    display: block;
  }
}

.about-large {
  font-size: 40px;
}

.about-medium {
  font-size: 36px;
}

.about-small {
  font-size: 30px;
}

/* ================
The centered blocks under about me, used for "Social" and "Contact" 
===================*/
.clean-superblock {
  margin-bottom: 80px;
}

.clean-superblock h2 {
  font-size: 40px;
text-align: center;
margin: 70px 20px 35px;
}

/* The image credits page */
@media (max-width: 767px) {
  .credits {
    text-align: center;
  }
  .credits img {
    margin-left: auto;
    margin-right: auto;
  }
}

.credits .image {
  margin-top: 60px;
}

.credits .details {
  margin-top: 60px;
  margin-bottom: 75px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .credits .details {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .credits .details {
    margin-top: 10px;
  }
}

.credits img {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.credits .bold {
  font-weight: bold;
}
.meta {
  margin-bottom: 30px;
}
.meta i {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 18px;
}
/* ===============
Form styles 
================== */
.form-control:focus {
  border-color: #444;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #a5b1bc;
}

.form-control:-moz-placeholder {
  color: #a5b1bc;
}

.form-control::-moz-placeholder {
  color: #a5b1bc;
}

.form-control:-ms-input-placeholder {
  color: #a5b1bc;
}

/* ============
Buttons used in clean 
=============== */
.btn-clean-one {
  color: #444;
  border: 1px solid #ddd;
}

.btn-clean-one:hover,
.btn-clean-one:focus,
.btn-clean-one:active,
.btn-clean-one.active,
.open .dropdown-toggle.btn-clean-one {
  color: #000;
  border-color: #222;
  background-color: #fff;
}

.btn-clean-one:active,
.btn-clean-one.active,
.open .dropdown-toggle.btn-clean-one {
  background-image: none;
}

.btn-clean-one.disabled,
.btn-clean-one[disabled],
fieldset[disabled] .btn-clean-one,
.btn-clean-one.disabled:hover,
.btn-clean-one[disabled]:hover,
fieldset[disabled] .btn-clean-one:hover,
.btn-clean-one.disabled:focus,
.btn-clean-one[disabled]:focus,
fieldset[disabled] .btn-clean-one:focus,
.btn-clean-one.disabled:active,
.btn-clean-one[disabled]:active,
fieldset[disabled] .btn-clean-one:active,
.btn-clean-one.disabled.active,
.btn-clean-one[disabled].active,
fieldset[disabled] .btn-clean-one.active {
  
}

.btn-clean-one:hover,
.btn-clean-one:focus {
  
}


.btn-clean-one .caret {
  border-top-color: #ffffff;
}

.btn-clean-two {
  color: #ffffff;
  background-color: #485561;
  border-color: #3c4852;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#485561), to(#2e363e));
  background-image: -webkit-linear-gradient(top, #485561, 0%, #2e363e, 100%);
  background-image: -moz-linear-gradient(top, #485561 0%, #2e363e 100%);
  background-image: linear-gradient(to bottom, #485561 0%, #2e363e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff485561', endColorstr='#ff2e363e', GradientType=0);
  background-repeat: repeat-x;
  border-color: #2a3138;
}

.btn-clean-two:hover,
.btn-clean-two:focus,
.btn-clean-two:active,
.btn-clean-two.active,
.open .dropdown-toggle.btn-clean-two {
  color: #ffffff;
  background-color: #37404a;
  border-color: #22292f;
}

.btn-clean-two:active,
.btn-clean-two.active,
.open .dropdown-toggle.btn-clean-two {
  background-image: none;
}

.btn-clean-two.disabled,
.btn-clean-two[disabled],
fieldset[disabled] .btn-clean-two,
.btn-clean-two.disabled:hover,
.btn-clean-two[disabled]:hover,
fieldset[disabled] .btn-clean-two:hover,
.btn-clean-two.disabled:focus,
.btn-clean-two[disabled]:focus,
fieldset[disabled] .btn-clean-two:focus,
.btn-clean-two.disabled:active,
.btn-clean-two[disabled]:active,
fieldset[disabled] .btn-clean-two:active,
.btn-clean-two.disabled.active,
.btn-clean-two[disabled].active,
fieldset[disabled] .btn-clean-two.active {
  background-color: #485561;
  border-color: #3c4852;
}

.btn-clean-two:hover,
.btn-clean-two:focus {
  background-color: #2e363e;
  background-position: 0 -15px;
}

.btn-clean-two:active,
.btn-clean-two.active {
  background-color: #2e363e;
  border-color: #2a3138;
}

.btn-clean-two .caret {
  border-top-color: #ffffff;
}

.btn-xlarge {
  padding: 10px 20px;
  font-size: 20px;
  line-height: normal;
  border-radius: 0px;
}